@page "/"
@inject NavigationManager Nav
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>FINISH ME DUMBASSS!!!!!</h1>

@code {

    protected override async Task OnInitializedAsync()
    {
        Nav.NavigateTo("/login");
    }
}